{% extends "_layouts/site" %}


{% block content %}
    <section class=" gray-light py-2 ">
        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h1 class="page-heading">Resources</h1>

                </div>

            </div>
        </div>

    </section>
    <!-- pages ship api -->
    <div class="container site page pt-5">
        <div class="row">
            <div class="col-md-8 col-md-offset-0 col-lg-8 main">

                <article>
                    <h1>{{ "Seafarers' health resources"|t }}</h1>
                    <h3 class="sub-heading"></h3>
                    <!-- mustache cats -->
                    <div class=" row">
                        <div class="container mustache-item">

                        </div>

                    </div>


                    <div class="mustache-item-downloads"></div>
                </article>
                <div class="handles"></div>
            </div>

        </div>
    </div>

    {% set handlebars = baseUrl  ~ '/js/handlebars.js' %}
    {% includeJsFile handlebars %}

    {% include 'ship/_includes/js-vars.twig' %}
    {# pass last segment as slug to api - to keep pretty urls #}
    {#{% set myJs %}#}
        {#var lastSegment = '{{craft.request.getLastSegment}}';#}
        {#var catSegment = '{{craft.request.getSegment(3)}}';#}
        {#var catUrl =  '/{{ currentLocale }}/health-well-being/seafarers-health-resources';#}
        {#var domain = '{{ craft.config.shipAPIdomain }}';#}
    {#{%  endset %}#}
    {#{% includeJs myJs %}#}

    {% includeJsFile baseUrl ~ '//js/ship/item.js' %}
    {% includeJsFile baseUrl ~ 'js/ship/langnav.js' %}
    {# show the api generated language block #}
    {% set myCss %}
        .lang.dropdown-menu,
        .dt-lang-up-arrow{
            dispay:none;
        }
        .dropdown.open.dt-lang-up-arrow{
            dispay:inline-block;
        }
        .lang-sel .dropdown.open .lang.dropdown-menu.shipLangNav{
            display:block!important;
        }
        .lang-sel .shipLangNav {
            display: block!important;
        }
    {% endset %}
{% endblock %}