{% extends "_layouts/home-sfassist.twig" %}

{#{% set firstGroup = currentUser.getGroups()[0] ?? null %}#}

{#{% if firstGroup is not null %}#}
{#{% set tmplRedirect = alias('@web')~'/'~firstGroup.handle~"/lander" %}#}
{#  #}{#    {{firstGroup}}#}
{#  {% redirect tmplRedirect %}#}
{#{% endif %}#}

{% block content %}




<!-- Page Content -->
{#  <div class="bg-info position-absolut home-lang d-flex justify-content-center pb-2">#}

{#    {% if currentSite.group.sites | length > 1 %}#}

{#      <div class="btn-group">#}
{#        <button type="button" class="lng btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#          <i class="fa fa-language" aria-hidden="true"></i> Language</a>#}
{#        </button>#}
{#        <div class="dropdown-menu">#}
{#          {% for site in currentSite.group.sites %}#}

{#            {% set url = alias(site.baseUrl) %}#}
{#            {% if entry is defined %}#}
{#              {% set entryForOtherSite = craft.entries.id(entry.id).site(site).one() %}#}
{#              {% if entryForOtherSite %}#}
{#                {% set url = entryForOtherSite.getUrl() %}#}
{#              {% endif %}#}
{#            {% endif %}#}
{#            <a  class="dropdown-item  {% if currentSite.id == site.id %} is-active{% endif %}" href="{{ url }}">{{ site.handle }}</a>#}

{#          {% endfor %}#}
{#        </div>#}
{#      </div>#}
{#    {% endif %}#}

{#  </div>#}

  {% if entry.bannerImage | length %}
      {% set image = entry.bannerImage.one().url %}
    {% else %}
      {% set image = baseUrl~'assets/images/_static/placeholder.jpg' %}
  {% endif %}
  <div class=" d-flex align-items-start position-relative heroic" style="background-image: url('{{ image }}');min-height:800px">
    <div class="hero-sf-overlay"></div>
    <div class="container-fluid p-5">

      <div class="row section-bg my-4" >
        <div class="col-md-8 mx-auto text-center">

          <h1 class=" text-white mb-3">{{entry.strapline1}}</h1>
          <h2 class=" text-white">{{entry.strapline2}}</h2>

          <div class="text-white">{{- entry.introText -}}</div>
          {%  if entry.ctaLink | length %}
          {% set link = entry.ctaLink.one.url %}
          {% elseif entry.ctaCustom | length %}
          {% set link = entry.ctaCustom %}
          {% endif %}
<div class="mt-5 d-flex justify-content-center">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Access your company support</h5>

                <div class="form-group my-2">
                    <label for="company-select" class=" hide" aria-hidden="false">Select a company</label>
                    <select  class="form-control " name="sites" id="company-select">
                        <option value="" class="small text-muted">Please select your company</option>
                        {% for site in allSites %}
                            {% if site.getGroup().id == '5' %}
                                {#              {% set sitesWithGroup = sitesWithGroup|merge([site]) %}#}
                                <option value="{{baseUrl ~ '/' ~ site.handle }}">{{site.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

{#                <div class="cta">#}
{#                    <a class="btn btn-outline rounded" href="{{ link }}">{{ entry.ctaButtonText }}</a>#}
{#                </div>#}
{#              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#              <a href="#" class="card-link">Card link</a>#}
{#              <a href="#" class="card-link">Another link</a>#}
            </div>
          </div>
</div>

        </div>
      </div>
      <div class="row d-flex">
      </div>
      <!--
      <div class="py-3 d-fl justify-content-center align-items-center bg-info"-->
    </div>
  </div>
<!-- / page content -->

{% endblock %}

    {% js %}
    $('#company-select').change(function() {
    window.location = $(this).val();
    });
    {% endjs %}