{% extends "_layouts/home.twig" %}

{#{% set firstGroup = currentUser.getGroups()[0] ?? null %}#}

{#{% if firstGroup is not null %}#}
{#{% set tmplRedirect = alias('@web')~'/'~firstGroup.handle~"/lander" %}#}
{#  #}{#    {{firstGroup}}#}
{#  {% redirect tmplRedirect %}#}
{#{% endif %}#}

{% block content %}

    <!-- Page Content -->

    {# switch site specific featured hero banner #}
    {% if entry.customBrandHeroImage | length %}
        {% set image = entry.customBrandHeroImage.one().url %}

        {% include ['_includes/sites/' ~ currentSite.handle ~ '-hero-featured', '_includes/sites/generic-hero-featured'] ignore missing %}

{#        {% include '_includes/sites/' ~ currentSite.handle ~ '-hero-featured.twig' %}#}
    {% else %}
        {# use standard banner for featured hero #}
        {% if entry.bannerImage | length %}
            {% set image = entry.bannerImage.one().url %}
        {% else %}
        {# deafult static banner for featured hero #}
            {% set image = 'assets/images/banners/waves.jpg' %}
        {% endif %}
        <div class=" d-flex align-items-center position-relative heroic"
             style="background-image: url('{{ image }}');min-height:600px">
            <div class="hero-site-overlay"></div>
            <div class="container-fluid p-5">
                <div class="row section-bg mb-4">
                    <div class="mx-auto text-center col-md-8">
                        {%  set strap1 = entry.strapline1 | replace('[site]',siteName) %}
                        <h1 class=" text-white mb-3">{{ strap1 }}</h1>
                        <h2 class=" text-white">{{ entry.strapline2 }}</h2>

                        <div class="text-white">{{- entry.introText -}}</div>
                        {% if entry.ctaLink | length %}
                            {% set link = entry.ctaLink.one.url %}
                        {% elseif entry.custom | length %}
                            {% set link = entry.custom %}
                        {% endif %}
                        <div class="cta">
                            <a class="btn btn-outline rounded" href="{{ link }}">{{ entry.ctaButtonText }}</a>
                        </div>
                    </div>
                </div>
                <div class="row d-flex">
                </div>
                <!--
                <div class="py-3 d-fl justify-content-center align-items-center bg-info"-->
            </div>
        </div>
    {% endif %}

    <!-- / page content -->

{% endblock %}

    {% js %}
        $('#company-select').change(function() {
        window.location = $(this).val();
        });
    {% endjs %}